<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630989426042-i279r9otrqcmr1l1fcneajmq4nfojo0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630989426042-i279r9otrqcmr1l1fcneajmq4nfojo0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBWwsssfxUDMeQYz3x0_1VKjB9EPXGqpAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>630989426042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everythingcoptic.app</string>
	<key>PROJECT_ID</key>
	<string>everything-coptic</string>
	<key>STORAGE_BUCKET</key>
	<string>everything-coptic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630989426042:ios:18ef6753a3e009b796dac3</string>
</dict>
</plist>